.container.home-container{
    /*background: linear-gradient(-45deg, #212529, #343a40, #003566, #000814);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;*/
    color: white;
    width: 100vw;
    
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.child-container{
    
    width: 90%;
    
    
  
}

#home .btn{
    margin: 3rem auto;
}

h2{
    margin-bottom: 30px;
}
@media screen and (max-width:700px) {
    .child-container{
        display: flex;
    flex-direction: column;
    align-items: center;
        
    }
    
    h2{
        margin-bottom: 3px;
    }
}

h1 span{
    color: var(--color-secondary);
}


  