.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 4rem;
  animation-name: fading;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.loading::after{
  content: "";
  width: 10px;
  height: 4rem;
  background-color: var(--color-secondary);
  animation: blinking 1.2s infinite;
}

nav{
  position: fixed;
  background: rgba(0, 4, 17,0);
  width: 100%;
  padding: 1.5rem;
  text-align: right;
  font-size: 1.5rem;
}

nav > *{
  margin-left: 20px;
  color: white;
  opacity: 1;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in;
}

nav > *:hover{
  color: var(--color-secondary);
  
}
.active{
  border-bottom: 3px solid var(--color-secondary);
  color: var(--color-secondary);
}

