.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 4rem;
  animation-name: fading;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.loading::after{
  content: "";
  width: 10px;
  height: 4rem;
  background-color: var(--color-secondary);
  animation: blinking 1.2s infinite;
}

nav{
  position: fixed;
  background: rgba(127, 129, 133, 0.4);
  width: 100%;
  padding: 1.5rem;
  text-align: right;
  font-size: 1.5rem;
  backdrop-filter: blur(10px);
}

nav > *{
  margin-left: 20px;
  color: white;
  opacity: 1;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in;
}

nav > *:hover{
  color: var(--color-secondary);
  
}
.active{
  border-bottom: 3px solid var(--color-secondary);
  color: var(--color-secondary);
}

@media screen and (max-width:600px) {
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  nav > *{
    width: max-content;
    font-size: 40px;
  }
  
}

.burger{
  font-size: 50px;
  position: fixed;
  top: 20px;
  left: 20px;
  animation: bounce 2s infinite;
  cursor: pointer;
  transition: all 0.5s ease-in;

}

.burger:hover{
  color: var(--color-secondary);

}

.hide{
  display: none;
}

